In [10]:
# importing pandas lib
import pandas as pd
# importing file for 1st task
db_1 = pd.read_csv('teams_stats.csv')
# clear nan values in required columns
db_1[['Year','Tm']].dropna(inplace=True)
# creating crosstable with Years as rows and Teams as columns, where values are frequencies of combination of year and row
db_1 = pd.crosstab(db_1['Year'], db_1['Tm'])
print(db_1)

Tm      AND  ATL  BAL  BLB  BOS  BRK  BUF  CAP  CHA  CHH ...   SYR  TOR  TOT  \
Year                                                     ...
1950.0   16    0    0   23   17    0    0    0    0    0 ...    11    0   43
1951.0    0    0    0   17   15    0    0    0    0    0 ...    12    0   25
1952.0    0    0    0   12   10    0    0    0    0    0 ...    11    0   10
1953.0    0    0    0   20   12    0    0    0    0    0 ...    12    0   18
1954.0    0    0    0   18   10    0    0    0    0    0 ...    14    0   12
1955.0    0    0    0    5   11    0    0    0    0    0 ...    11    0   11
1956.0    0    0    0    0   10    0    0    0    0    0 ...    10    0    8
1957.0    0    0    0    0   12    0    0    0    0    0 ...    15    0    7
1958.0    0    0    0    0   11    0    0    0    0    0 ...    11    0    6
1959.0    0    0    0    0   11    0    0    0    0    0 ...    13    0    9
1960.0    0    0    0    0   12    0    0    0    0    0 ...    14    0   12
1961.0    0    0    0    0   11    0    0    0    0    0 ...    12    0    5
1962.0    0    0    0    0   12    0    0    0    0    0 ...    11    0   11
1963.0    0    0    0    0   13    0    0    0    0    0 ...    13    0    8
1964.0    0    0   16    0   12    0    0    0    0    0 ...     0    0   11
1965.0    0    0   14    0   13    0    0    0    0    0 ...     0    0    9
1966.0    0    0   16    0   14    0    0    0    0    0 ...     0    0   12
1967.0    0    0   14    0   12    0    0    0    0    0 ...     0    0    5
1968.0    0    0   13    0   12    0    0    0    0    0 ...     0    0   13
1969.0    0   13   13    0   13    0    0    0    0    0 ...     0    0   19
1970.0    0   13   14    0   13    0    0    0    0    0 ...     0    0   15
1971.0    0   12   14    0   14    0   15    0    0    0 ...     0    0   14
1972.0    0   17   16    0   12    0   12    0    0    0 ...     0    0   24
1973.0    0   14   14    0   12    0   13    0    0    0 ...     0    0   27
1974.0    0   12    0    0   12    0   15   14    0    0 ...     0    0   11
1975.0    0   13    0    0   14    0   13    0    0    0 ...     0    0   20
1976.0    0   13    0    0   13    0   15    0    0    0 ...     0    0   18
1977.0    0   16    0    0   13    0   19    0    0    0 ...     0    0   29
1978.0    0   13    0    0   18    0   18    0    0    0 ...     0    0   44
1979.0    0   13    0    0   18    0    0    0    0    0 ...     0    0   31
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ... ...   ...  ...  ...
1988.0    0   15    0    0   16    0    0    0    0    0 ...     0    0   46
1989.0    0   13    0    0   17    0    0    0    0   16 ...     0    0   42
1990.0    0   18    0    0   13    0    0    0    0   20 ...     0    0   38
1991.0    0   14    0    0   15    0    0    0    0   17 ...     0    0   26
1992.0    0   15    0    0   18    0    0    0    0   18 ...     0    0   33
1993.0    0   17    0    0   17    0    0    0    0   15 ...     0    0   28
1994.0    0   15    0    0   15    0    0    0    0   19 ...     0    0   37
1995.0    0   18    0    0   17    0    0    0    0   16 ...     0    0   22
1996.0    0   18    0    0   18    0    0    0    0   21 ...     0   19   56
1997.0    0   17    0    0   18    0    0    0    0   18 ...     0   21   63
1998.0    0   16    0    0   18    0    0    0    0   18 ...     0   24   53
1999.0    0   14    0    0   16    0    0    0    0   17 ...     0   16   33
2000.0    0   14    0    0   15    0    0    0    0   17 ...     0   16   28
2001.0    0   23    0    0   17    0    0    0    0   16 ...     0   20   47
2002.0    0   18    0    0   16    0    0    0    0   15 ...     0   17   30
2003.0    0   21    0    0   17    0    0    0    0    0 ...     0   19   27
2004.0    0   23    0    0   19    0    0    0    0    0 ...     0   23   68
2005.0    0   20    0    0   15    0    0    0   19    0 ...     0   16   59
2006.0    0   15    0    0   18    0    0    0   16    0 ...     0   17   51
2007.0    0   19    0    0   16    0    0    0   18    0 ...     0   17   29
2008.0    0   16    0    0   15    0    0    0   15    0 ...     0   17   68
2009.0    0   15    0    0   16    0    0    0   24    0 ...     0   19   67
2010.0    0   14    0    0   19    0    0    0   19    0 ...     0   15   66
2011.0    0   17    0    0   21    0    0    0   19    0 ...     0   22   83
2012.0    0   16    0    0   17    0    0    0   16    0 ...     0   18   36
2013.0    0   18    0    0   20   17    0    0   18    0 ...     0   18   50
2014.0    0   18    0    0   19   19    0    0   19    0 ...     0   20   63
2015.0    0   16    0    0   22   19    0    0    0    0 ...     0   15   76
2016.0    0   17    0    0   16   17    0    0    0    0 ...     0   16   50
2017.0    0   20    0    0   15   21    0    0    0    0 ...     0   17   53

Tm      TRI  UTA  VAN  WAS  WAT  WSB  WSC
Year
1950.0   22    0    0    0   21    0   14
1951.0   19    0    0    0    0    0   13
1952.0    0    0    0    0    0    0    0
1953.0    0    0    0    0    0    0    0
1954.0    0    0    0    0    0    0    0
1955.0    0    0    0    0    0    0    0
1956.0    0    0    0    0    0    0    0
1957.0    0    0    0    0    0    0    0
1958.0    0    0    0    0    0    0    0
1959.0    0    0    0    0    0    0    0
1960.0    0    0    0    0    0    0    0
1961.0    0    0    0    0    0    0    0
1962.0    0    0    0    0    0    0    0
1963.0    0    0    0    0    0    0    0
1964.0    0    0    0    0    0    0    0
1965.0    0    0    0    0    0    0    0
1966.0    0    0    0    0    0    0    0
1967.0    0    0    0    0    0    0    0
1968.0    0    0    0    0    0    0    0
1969.0    0    0    0    0    0    0    0
1970.0    0    0    0    0    0    0    0
1971.0    0    0    0    0    0    0    0
1972.0    0    0    0    0    0    0    0
1973.0    0    0    0    0    0    0    0
1974.0    0    0    0    0    0    0    0
1975.0    0    0    0    0    0   13    0
1976.0    0    0    0    0    0   12    0
1977.0    0    0    0    0    0   15    0
1978.0    0    0    0    0    0   12    0
1979.0    0    0    0    0    0   12    0
...     ...  ...  ...  ...  ...  ...  ...
1988.0    0   15    0    0    0   13    0
1989.0    0   15    0    0    0   13    0
1990.0    0   15    0    0    0   13    0
1991.0    0   15    0    0    0   15    0
1992.0    0   14    0    0    0   16    0
1993.0    0   15    0    0    0   19    0
1994.0    0   19    0    0    0   20    0
1995.0    0   15    0    0    0   16    0
1996.0    0   14   18    0    0   21    0
1997.0    0   15   16    0    0   15    0
1998.0    0   14   16   16    0    0    0
1999.0    0   14   18   15    0    0    0
2000.0    0   13   15   16    0    0    0
2001.0    0   14   15   21    0    0    0
2002.0    0   14    0   14    0    0    0
2003.0    0   13    0   16    0    0    0
2004.0    0   18    0   17    0    0    0
2005.0    0   17    0   16    0    0    0
2006.0    0   15    0   15    0    0    0
2007.0    0   15    0   16    0    0    0
2008.0    0   15    0   13    0    0    0
2009.0    0   15    0   17    0    0    0
2010.0    0   15    0   24    0    0    0
2011.0    0   17    0   23    0    0    0
2012.0    0   15    0   21    0    0    0
2013.0    0   14    0   19    0    0    0
2014.0    0   17    0   17    0    0    0
2015.0    0   22    0   18    0    0    0
2016.0    0   17    0   19    0    0    0
2017.0    0   15    0   18    0    0    0

[68 rows x 69 columns]

C:\Python\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
# if frequency is larger than 0 in each row, than we can count it as "unique team in particular year"
db_1['Unique_teams_count'] = db_1[db_1>0].count(axis=1)
db_1['Unique_teams_count']

Year
1950.0    18
1951.0    12
1952.0    11
1953.0    11
1954.0    10
1955.0    10
1956.0     9
1957.0     9
1958.0     9
1959.0     9
1960.0     9
1961.0     9
1962.0    10
1963.0    10
1964.0    10
1965.0    10
1966.0    10
1967.0    11
1968.0    13
1969.0    15
1970.0    15
1971.0    18
1972.0    18
1973.0    18
1974.0    18
1975.0    19
1976.0    19
1977.0    23
1978.0    23
1979.0    23
          ..
1988.0    24
1989.0    26
1990.0    28
1991.0    28
1992.0    28
1993.0    28
1994.0    28
1995.0    28
1996.0    30
1997.0    30
1998.0    30
1999.0    30
2000.0    30
2001.0    30
2002.0    30
2003.0    30
2004.0    30
2005.0    31
2006.0    31
2007.0    31
2008.0    31
2009.0    31
2010.0    31
2011.0    31
2012.0    31
2013.0    31
2014.0    31
2015.0    31
2016.0    31
2017.0    31
Name: Unique_teams_count, Length: 68, dtype: int64

In [13]:
# importing dataset for task_2
db_2 = pd.read_csv('Mountains.csv')
# counting frequency of each Parent mountain value
task_2=db_2['Parent mountain'].value_counts()

In [15]:
# filtering values above 3
task_2[task_2>3]

Mount Everest    9
Gasherbrum I     8
Cho Oyu          7
Kangchenjunga    7
Distaghil Sar    5
K2               5
Shisha Pangma    4
Dhaulagiri       4
Name: Parent mountain, dtype: int64